
Python0801/recommendation_system_codes/playlist.detail.all.tar.gz
Python0801/recommendation_system_codes/song2vec.model
TensorFlow/CVSSD/SSD-Tensorflow-master/logs/model.ckpt.data-00000-of-00001
TensorFlow/CVSSD/SSD-Tensorflow-master/logs/events.out.tfevents.1535002021.liujingdeMacBook-Pro.local
TensorFlow/CVSSD/SSD-Tensorflow-master/logs/events.out.tfevents.1534993927.liujingdeMacBook-Pro.local
TensorFlow/CVSSD/SSD-Tensorflow-master/checkpoints/VGG_VOC0712_SSD_512x512_ft_iter_120000.ckpt.data-00000-of-00001
TensorFlow/CVSSD/SSD-Tensorflow-master/checkpoints/VGG_VOC0712_SSD_300x300_iter_120000.ckpt.data-00000-of-00001
TensorFlow/CVSSD/SSD-Tensorflow-master/checkpoints/ssd_300_vgg.ckpt.data-00000-of-00001
TensorFlow/CVSSD/SSD-Tensorflow-master/logs2/model.ckpt.data-00000-of-00001
TensorFlow/CVSSD/SSD-Tensorflow-master/logs2/events.out.tfevents.1535096465.liujingdeMacBook-Pro.local
TensorFlow/test3/keras_tensorflow_log/events.out.tfevents.1535596846.liujingdeMacBook-Pro.local
TensorFlow/test2/tfrecord/
TensorFlow/test3/keras_tensorflow_log/events.out.tfevents.1535596846.liujingdeMacBook-Pro.local
TensorFlow/test3/keras_tensorflow_log/events.out.tfevents.1535596846.liujingdeMacBook-Pro.local
AICV09/
*.jpg
*.zip
*.tfrecord
*.xml
*.png
*.csv
*.png
*.txt
*.npz
*.ckpt.data-00000-of-00001
*.model
*.gz
*.local
*.tfrecord
*.mov
*.liujingdeMacBook-Pro.local
*.local
*.jpeg
*.meta
*.index
*.pbtxt
